.idea
.cache/
src/gmsh/local/gmsh/
src/occt/local/occt-V**/
src/freetype/local/freetype-**/
src/fltk/local/fltk/
build/
output/
temp/
*.tgz
*.tar.gz
.env
.secrets
*.egg-info
__pycache__/
# pixi environments
.pixi
*.egg-info
src/**/recipe.yaml
