[workspace]
name = "condapackaging"
version = "0.1.0"
description = "A project for developing conda packages"
channels = ["conda-forge"]
platforms = ["win-64", "linux-64"]

[feature.debug]
platforms = ["win-64", "linux-64"]
channels = ["https://repo.prefix.dev/code-aster", "conda-forge"]

[feature.release]
platforms = ["win-64", "linux-64"]
channels = ["https://repo.prefix.dev/code-aster", "conda-forge"]


[environments]
cpack = { features = ["cpack"], solve-group = "cpack", no-default-feature = true }
debug = { features = ["debug"], no-default-feature = true }
release = { features = ["release"], no-default-feature = true }
rattler = { features = ["rattler"], no-default-feature = true }
cpacktest = { features = ["cpacktest"], solve-group = "cpack", no-default-feature = true }

[dependencies]
python-dotenv = ">=1.2.1,<2"
pixi-pycharm = ">=0.0.9,<0.0.10"

[feature.rattler.dependencies]
conda-recipe-manager = ">=0.8.0,<0.9"
rattler-build = ">=0.49.0,<0.50"

[feature.cpack.dependencies]
python-dotenv = ">=1.2.1,<2"
quetz-client = ">=0.5.0,<0.6"
python-libarchive-c = ">=5.3,<6"
"ruamel.yaml.jinja2" = ">=0.2.7,<0.3"
typer = ">=0.20.0,<0.21"
toposort = ">=1.10,<2"
colorama = ">=0.4.6,<0.5"
boa = ">=0.17.0,<0.18"
rattler-build = ">=0.49.0,<0.50"
py-rattler-build = ">=0.47.0,<0.48"
# Symbol inspector
py-lief = "*"
conda-package-handling = "*"
zstandard = "*"
llvm-tools = "*"

[feature.cpacktest.dependencies]
pytest = ">=8.4.2,<9"

[feature.debug.dependencies]
hdf5 = { version = ">=1.14.4.3,<2", build = "*debug*" }
libmed = { version = ">=4.1.1.6,<5", build = "*debug*" }
medcoupling = { version = ">=9.12.0,<10", build = "*debug*" }
mfront = { version = ">=4.2.0,<5", build = "*debug*" }
mgis = { version = ">=2.2,<3", build = "*debug*" }
scotch = { version = ">=7.0.4,<8", build = "*debug*" }

[feature.release.dependencies]
hdf5 = { version = ">=1.14.4.3,<2", build = "*release*" }
libmed = { version = ">=4.1.1.6,<5", build = "*release*" }
medcoupling = { version = ">=9.12.0,<10", build = "*release*" }
mfront = { version = ">=4.2.0,<5", build = "*release*" }
mgis = { version = ">=2.2,<3", build = "*release*" }
scotch = { version = ">=7.0.4,<8", build = "*release*" }
#code_aster = { build = "*release*" }

[feature.cpack.pypi-dependencies]
cpack = { path = "./src/cpack", editable = true }

[feature.cpack.tasks]
cpack-actions = { cmd = ["cpack-actions"] }
cpack-quetz = { cmd = ["cpack-quetz"] }
ca-batch-prep = { cmd = ["python", ".github/actions/ca-batch-prep/set_vars.py"] }
cpack-ctest-md-gen = { cmd = ["cpack-md-gen"] }
symbol-check = { cmd = ["python", "src/cpack/cpack/symbol_checker.py"], description = "Check for symbols in built conda packages" }
[feature.rattler.tasks]
flang = { cmd = ["rattler-build", "build", "-r", "src/llvm/flang/recipe.yaml", "-m", "src/common_rattler.yaml"] }

topologic = { cmd = ["rattler-build", "build", "-r", "src/topologic/topologic-core/recipe.yaml", "-m", "src/common_rattler.yaml"] }
topologicpy = { cmd = ["rattler-build", "build", "-r", "src/topologic/topologic-py/recipe.yaml", "-m", "src/common_rattler.yaml"] }

# Intel LLVM Compiler
intelfortranrt = { cmd = ["rattler-build", "build", "-r", "src/intelfortranrt/recipe.yaml", "-m", "src/common_rattler.yaml"] }

# Code Aster
asrun = { cmd = "echo Asrun build step skipped" }
homard = { cmd = "echo Homard build step skipped" }

hdf5 = { cmd = ["rattler-build", "build", "-r", "src/hdf5/recipe.yaml", "-m", "src/common_rattler.yaml"], outputs = ["output/*/hdf5*.conda"] }
scotch = { cmd = "rattler-build build -r src/code_aster/scotch/recipe.yaml -m src/common_rattler.yaml --experimental --allow-insecure-host=gitlab.inria.fr", outputs = ["output/*/libscotch*.conda", "output/*/scotch*.conda"] }
mfront = { cmd = ["rattler-build", "build", "-r", "src/code_aster/mfront/recipe.yaml", "-m", "src/common_rattler.yaml", "-m", "src/code_aster/mfront/compiler_override.yaml"], outputs = ["output/*/mfront*.conda"] }
mgis = { cmd = ["rattler-build", "build", "-r", "src/code_aster/mgis/recipe.yaml", "-m", "src/common_rattler.yaml", "-m", "src/code_aster/mfront/compiler_override.yaml"], outputs= ["output/*/mgis*.conda"] }
libmed = { cmd = ["rattler-build", "build", "-r", "src/code_aster/libmed/recipe.yaml", "-m", "src/common_rattler.yaml"], outputs=["output/*/libmed*.conda"] }
medcoupling = { cmd = ["rattler-build", "build", "-r", "src/code_aster/medcoupling/recipe.yaml", "-m", "src/common_rattler.yaml"], outputs = ["output/*/medcoupling*.conda"] }
metis = { cmd = ["rattler-build", "build", "-r", "src/code_aster/metis/recipe.yaml", "-m", "src/common_rattler.yaml"], outputs = ["output/*/metis*.conda"] }
mumps = { cmd = ["rattler-build", "build", "-r", "src/code_aster/mumps/recipe.yaml", "-m", "src/common_rattler.yaml"], outputs = ["output/*/mumps*.conda"] }
mumps-cf = { cmd = ["rattler-build", "build", "-r", "src/code_aster/mumps-cf/recipe.yaml", "-m", "src/common_rattler.yaml","-m","src/code_aster/mumps-cf/compiler_override.yaml"], outputs = ["output/*/mumps-seq*.conda"] }
code_aster = { cmd = ["rattler-build", "build", "-r", "src/code_aster/code_aster/recipe.yaml", "-m", "src/common_rattler.yaml"], outputs = ["output/*/code_aster*.conda"] }
code_aster32d = { cmd = ["rattler-build", "build", "-r", "src/code_aster/code_aster/recipe.yaml", "-m", "src/common_rattler.yaml", '-m', 'src/.ci_nompi_debug_32.yaml', "-c", "https://repo.prefix.dev/code-aster", "-c", "conda-forge"] }

# "hdf5","scotch","metis", "libmed", "medcoupling", "mfront", "mgis","code_aster"
code-aster-all = { cmd = ["echo", "success"], depends-on = ["hdf5","scotch","metis","libmed","medcoupling", "mumps"] }

# Cadquery
ocp = { cmd = ["rattler-build", "build", "-r", "src/cadquery/ocp/recipe.yaml", "-m", "src/common_rattler.yaml"] }
cadquery = { cmd = ["rattler-build", "build", "-r", "src/cadquery/cadquery/recipe.yaml", "-m", "src/common_rattler.yaml"] }
ipopt = { cmd = ["rattler-build", "build", "-r", "src/cadquery/ipopt/recipe.yaml", "-m", "src/common_rattler.yaml", "-m", "src/cadquery/ipopt/win2019.yaml", "-c", "https://repo.prefix.dev/code-aster", "-c", "conda-forge"] }
casadi = { cmd = ["rattler-build", "build", "-r", "src/cadquery/casadi/recipe.yaml", "-m", "src/common_rattler.yaml", "-m", "src/cadquery/ipopt/win2019.yaml", "-c", "https://repo.prefix.dev/code-aster", "-c", "conda-forge"] }

# Adapy deps
ifcopenshell = { cmd = ["rattler-build", "build", "-r", "src/ifcopenshell/recipe.yaml", "-m", "src/common_rattler.yaml", "-c", "https://repo.prefix.dev/code-aster", "-c", "conda-forge"], outputs = ["output/*/ifcopenshell*.conda"] }
h5py = { cmd = ["rattler-build", "build", "-r", "src/h5py/recipe.yaml", "-m", "src/common_rattler.yaml", "-c", "https://repo.prefix.dev/code-aster", "-c", "conda-forge"], outputs = ["output/*/h5py*.conda"] }
fltk = { cmd = ["rattler-build", "build", "-r", "src/fltk/recipe.yaml", "-m", "src/common_rattler.yaml", "-c", "https://repo.prefix.dev/code-aster", "-c", "conda-forge"], outputs = ["output/*/fltk*.conda"] }
gmsh = { cmd = ["rattler-build", "build", "-r", "src/gmsh/recipe.yaml", "-m", "src/common_rattler.yaml"], outputs = ["output/*/gmsh*.conda"] }
libnetcdf4 = { cmd = ["rattler-build", "build", "-r", "src/libnetcdf4/recipe.yaml", "-m", "src/common_rattler.yaml", "-c", "https://repo.prefix.dev/code-aster", "-c", "conda-forge"], outputs = ["output/*/libnetcdf*.conda"] }
netcdf4 = { cmd = ["rattler-build", "build", "-r", "src/netcdf4/recipe.yaml", "-m", "src/common_rattler.yaml", "-c", "https://repo.prefix.dev/code-aster", "-c", "conda-forge"], outputs = ["output/*/netcdf*.conda"], depends-on = ["libnetcdf4"] }

adapy-all = { cmd = ["echo", "success"], depends-on = ["hdf5", "h5py", "ifcopenshell", "code-aster-all"] }

# Calculix
arpack = { cmd = ["rattler-build", "build", "-r", "src/calculix/arpack/recipe.yaml", "-m", "src/common_rattler.yaml"], outputs = ["output/*/arpack*.conda"] }

# Other
cpack-config = { cmd = ["python", "src/cpack/cpack/condarc_builder.py", "--condarc-filepath=$CONDA_PREFIX/.condarc"] }
#h5py = { cmd = ["conda", "mambabuild", ".", "-m", "../common.yaml"], cwd = "src/h5py" }

# OCCT
occt = { cmd = ["conda", "mambabuild", ".", "-m", "../common.yaml", "--python", "3.12", "--variants", "\"{'build_type':'debug','variant':'novtk'}\""], cwd = "src/occt" }
pyocc = { cmd = ["conda", "mambabuild", ".", "-m", "../common.yaml", "--python", "3.12", "--variants", "\"{'build_type':'debug','variant':'novtk'}\""], cwd = "src/pythonocc-core" }
stepcode = { cmd = ["conda", "mambabuild", ".", "-m", "../common.yaml"], cwd = "src/stepcode" }

# Code Aster Packages
parmetis = { cmd = ["conda", "mambabuild", ".", "-m", "../../common.yaml"], cwd = "src/code_aster/parmetis" }
petsc = { cmd = ["conda", "mambabuild", ".", "-m", "../../common.yaml"], cwd = "src/code_aster/petsc" }


[feature.release.tasks]
test_code_aster = { cmd = ["src/code_aster/rattler-wrap.bat", "code_aster"] }

[feature.debug.tasks]
test_code_aster = { cmd = ["src/code_aster/rattler-wrap.bat", "code_aster"] }
